<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.zedlucas.studyio">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".RegisterActivity" />
        <activity android:name=".UserAreaActivity" />
        <activity android:name=".MenuAlunoActivity" />
        <activity android:name=".MenuProfessorActivity" />
        <activity android:name=".MenuAdminActivity" />
        <activity android:name=".AdminProfessorMenuActivity" />
        <activity android:name=".MenuMateriaActivity" />
        <activity android:name=".MenuMatematicaActivity" />
        <activity android:name=".MenuFisicaActivity" />
        <activity android:name=".MenuQuimicaActivity" />
        <activity android:name=".MenuBiologiaActivity" />
        <activity android:name=".MenuHistoriaActivity" />
        <activity android:name=".MenuGeografiaActivity" />
        <activity android:name=".MenuPortuguesActivity" />
        <activity android:name=".EscolhaLoginActivity" />
        <activity android:name=".Gerenciamento_ADM.Menu_ADM" />
        <activity android:name=".Gerenciamento_ADM.Menu_Exercicio_ADM" />
        <activity android:name=".Gerenciamento_ADM.MenuMateriaADM" />
        <activity android:name=".Gerenciamento_ADM.Procurar"></activity>
    </application>

</manifest>